version: "3.8"
services:
  api:
    build:
      context: ../
      dockerfile: ./api/Dockerfile
    image: journey-stop-counter-api
    container_name: journey-stop-counter-api
    env_file:
      - ./.env
    ports:
      - "${API_PORT}:${API_PORT}"
    restart: always
  web:
    build:
      context: ../
      dockerfile: ./web/Dockerfile
    image: journey-stop-counter-web
    container_name: journey-stop-counter-web
    ports:
      - 80:80
    depends_on:
      - api
    restart: always
